@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="text-center pt-sm-5">
        <img class="img-ESPE img-fluid" src="https://www.espe.edu.ec/wp-content/uploads/2022/01/ESPEtransparente.png" alt="ESPE_LOGO" />
        <h1 class="display-4 h1">Bienvenidos</h1>
        <div id="carouselExampleAutoplaying" class="carousel slide containerC" data-bs-ride="carousel" data-interval="1000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://i.pinimg.com/736x/36/25/df/3625dfd65fd1168e854b5d48b319f5ff.jpg" class="d-block w-100 img-fluid" alt="Estudiante">
                </div>
                <div class="carousel-item">
                    <img src="https://aptus.com.ar/wp-content/uploads/2018/10/tareasescolares.jpg" class="d-block w-100 img-fluid" alt="Escritura">
                </div>
                <div class="carousel-item">
                    <img src="https://www.materna.com.ar/Portals/0/images/articulos/nino/nino-20414-claves-para-ayudar-a-tu-hijo-con-las-tareas-escolares.jpg" class="d-block w-100 img-fluid" alt="Estres">
                </div>
            </div>
        </div>
    </div>
</div>



