@page
@model TaskAPP.Pages.Tareas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="EliminarTarea pt-5">
    <h1>Eliminar</h1>

    <h3>¿Estas Seguro que quiere eliminar?</h3>
    <div>
        <h4>Tarea</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Titulo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tarea.Title)
            </dd>
            <dt class="col-sm-2">
                Descripción
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tarea.Description)
            </dd>
            <dt class="col-sm-2">
                Dia Entrega
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tarea.DeliveryDate)
            </dd>
            <dt class="col-sm-2">
                Hecho
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tarea.Done)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Tarea.Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <button class="btn btn-dark">
                <a asp-page="./Index">Regresar</a>
            </button>

        </form>
    </div>

</div>
